.content {
  width: 1200px;
  min-height: 80vh;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.orders {
  width: 1000px;
  padding: 20px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}
