.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.websiteLogo {
  color: white;
  margin-left: 20px;
}

.searchBar {
  max-width: 1000px;
  margin-left: 50px;
}

.cartLogo {
  color: white;
  display: right;
  margin: 0 20px;
  font-size: 30px;
  margin-top: 20px;
}

.userEmail {
  color: white;
  cursor: pointer;
}

.userLogoWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.userLogo {
  color: white;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
