.navigationBar {
  display: flex;
  align-items: center;
  justify-self: space-between;
}

.websiteLogo {
  color: white;
  margin-left: 20px;
}

.mainPage {
  background-color: white;
}

.content {
  margin: 24px 0;
  padding: 24px;
  /* display: flex; */
  text-align: center;
  align-self: center;
  width: 500px;
  background-color: #f5f6f7;
  border-radius: 14px;
}

.signUpCompleteTitle {
    font-size: 40px;
    margin-bottom: 20px;
}

.redirect {
    color: lightskyblue;
}